@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.snap-mandatory {
  scroll-snap-type: x mandatory
}

.scroll-snap-center {
  scroll-snap-align: center;
}

@layer components{
  .input-field{
    @apply py-2 px-6 w-full duration-300 rounded-2xl outline-none border-2 border-grey-light bg-background-grey
  }

  .input-field:placeholder-shown,
  .input-field:placeholder-shown + div{
    @apply opacity-30
  }
}
  
#acceptTerms:checked ~ .check-1{
  @apply text-opacity-100;
  animation: check-animate .5s 1;
}

@keyframes check-animate {
  0%, 100%{
    @apply transform scale-100;
  }
  50%{
    @apply transform scale-150 text-opacity-0;
  }
  
}
